
* {box-sizing: border-box}


#container {
  padding: 20px;
  margin: 100px;
  background: red;
 


}
#innerbox
{
	padding: 20px;
	margin: 20px;
	background: black;
}
h3,p {
	color: #fff;
}